{% extends "base.html" %}

{% block content %}
  {{ section.content | safe }}

  <div bp="grid vertical-center 6@sm 6@md 3@lg">
    {% set image = resize_image(path="logos/uit.png", height=100, op="fit_height") %}
    <img src="{{ image.url }}"
         alt="UiT logo">
    {% set image = resize_image(path="logos/nupi.png", height=70, op="fit_height") %}
    <img src="{{ image.url }}"
         alt="NUPI logo">
    {% set image = resize_image(path="logos/cuni.png", height=100, op="fit_height") %}
    <img src="{{ image.url }}"
         alt="CUNI logo">
    {% set image = resize_image(path="logos/utsyn.png", height=100, op="fit_height") %}
    <img src="{{ image.url }}"
         alt="UTSYN logo">
  </div>

{% endblock content %}
