{% extends "base.html" %}

{% block content %}
  {{ page.content | safe }}

  {% set image = resize_image(path="media-clusters.png", height=500, op="fit_height") %}
  <img src="{{ image.url }}" alt="media clusters">

  <br>
  <span style="color: rgb(217, 125, 216);">Cluster 0</span>
  &nbsp;
  <span style="color: rgb(35, 150, 111);">Cluster 1</span>
  &nbsp;
  <span style="color: rgb(140, 185, 0);">Cluster 2</span>
  &nbsp;
  <span style="color: rgb(255, 112, 69);">Cluster 3</span>
  &nbsp;
  <span style="color: rgb(0, 199, 255);">Cluster 4</span>
  <br>

  <!-- google custom search engine -->
  <script async src="https://cse.google.com/cse.js?cx=457beaa5215a36439"></script>
  <div class="gcse-search"></div>
{% endblock content %}
